<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand px-4" href="/">Blog</a>
    <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/admin/categories">Categorias</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/articles">Artigos</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-2"><a class="nav-link" href="/logout">Sair</a></li>
    </ul>
</nav>

